@extends('layouts.app')

@section('content')

<h1>Username: {{ profile.name }}</h1>
<small>Joined: {{ profile.created_at|date("m/d/Y") }}</small>

{% if profile.threads is not empty %}
    <h2> Recent threads</h2>
    <ol>
        {% for thread in profile.threads %}
            <li><a href="{{  route('thread_detail', { 'id': thread }) }}">{{ thread.title }}</a></li>
        {% endfor %}
    </ol>
{%  endif %}

{% if profile.comments is not empty %}
    <h2> Recent comments</h2>
    <ol>
        {% for comment in profile.comments %}
            <li><blockquote>{{  comment.body }}</blockquote> in <a href="{{  route('thread_detail', { 'id': comment.thread }) }}">{{ comment.thread.title }}</a></li>
        {% endfor %}
    </ol>
{% endif %}
